<dl class="php const">
    <dt class="sig sig-object php" id="{{ node.id }}">
        <em class="property"><span class="pre">constant</span></em>
        {{ renderNode(node.memberName) }}
    </dt>
    <dd>{{ renderNode(node.value) }}</dd>
</dl>
