<span class="sig-name descname">
    <span class="pre fqn"
        {%- if node.namespaceNode != null %} data-namespace="\{{ node.namespaceNode.name }}" {% endif -%}
          title="{% if  node.namespaceNode != null %}\{{ node.namespaceNode.name }}\{% endif %}{{ node.name }}">
        {{ node.name }}
    </span>
</span>
